<section>
<div class="" style="background-color:#9fa38f !important;height: 10vh !important;">
     <app-main-header ></app-main-header> 
   <!-- s1 -->
</div>
</section>
<hr>
        <!-- About Section Start From here -->

        <div class="container my-5">
            <div class="row">
              <div class="col-md-6">
                <h1 class="font-weight-bold">About Us</h1>
                <p>Our company was established with the goal of providing top-notch products and services to our customers. We believe in the importance of delivering the highest quality and exceptional customer service. Our team is dedicated to meeting the needs of our clients and ensuring their satisfaction with each interaction.</p>
                <p>At our company, we are constantly innovating and updating our offerings to stay ahead of the curve and meet the evolving needs of our clients. Whether you are looking for products or services, we have a wide range of options available to suit your needs and budget. We strive to be your go-to source for all your needs, and we are confident that you will be impressed with what we have to offer.</p>
              </div>
              <div class="col-md-6">
                <img src="../../assets/img/3.jpg" alt="Company Image" class="img-fluid rounded">
              </div>
            </div>
          </div>
          
          <div class=" p-5 "id="div7" style="background-color: #f6f3ef; color: #806e4b;">
            <h3 class="p-4  text-center  " >
                From our clients
            </h3><div class=" row  justify-content-center">
            <div class="col-3">
        <p>"I love everything about Dare To Care. The tranquility, the surroundings, the products, the professional expertise and their wonderful treatments. It's always been a great experience and I've felt really pampered and with extra glow afterwards."
        </p>
            <h3 class="fs-6">— Heidi</h3>
            </div>
            <div class="col-3">
                <p>
                    "First skin consultation with guidance and understanding of my situation, and now several times tailored treatments have made my rosacea better than it has been in years. Thank you"
                </p><p class="p-2"></p>
                    <h3 class="fs-6">— Nanna</h3>
            </div>
            <div class="col-3">
                <p>
                    “Har aldrig fået så veludførte, behagelig og harmonisk ansigtsmassage. Kornelia kredsede virkelig om min hud og var yderst grundig, der var ikke 1 minut hvor hendes hænder ikke var på min hud. Den stråler og føles silke blød”
                </p>
                    <h3 class="fs-6">— Cindie</h3>
            </div>
        </div></div>
        


        <div class="container-fluid py-5"id="div6" style="background-color: #806e4b; color: #fff;">
            <div class="text-center container p-5">
                <h3 class="p-5">Vores favoritter til din vinterhudpleje</h3>
                   <p> Når det er vinter kan luften indeholde mindre fugt og derfor udtørres vores hud. Kombinationen af udtørrende indeklima, 
                    tør luft og varme/kulde
                   </p> 
                   <p> påvirkninger er en stor udfordring for vores hud. Se her vores favoritter til vinteren.
                    Klik på linket for at se Lines Favoritter til vinterhudplejen</p><p></p>
                <button class="btn  " type="submit"><b> Vinterfavoritter</b></button>
            </div> <p class="p-5"></p>
            <div class="row p-5">
        <div class="col-3">
            <img class="w-100" src="../../assets/img/AmazingSpace_FormulaE_0363.jpg" alt="">
        </div>
        <div class="col-3">
            <img class="w-100" src="../../assets/img/BR_Creme_Dermo_RL_0176.jpg" alt="">
        </div>
        <div class="col-3">
            <img class="w-100" src="../../assets/img/Sturm_FaceCream_Rich_0159.jpg" alt="">
        </div>
        <div class="col-3">
            <img class="w-100" src="../../assets/img/Environ_Vita-Antioxidant_HydratingOilCapsule_0124.jpg" alt="">
        </div>
           </div>
         </div>
<app-main-footer></app-main-footer>