
.bg-img{
    
background-color: #9fa38f !important;

  }
  .btn{
    border-color: #fff !important;
      color: #fff;
      background-color: black ;
    
    }
    /* .btn:hover{
      color: black;
      background-color: #fff;
    } */