<!-- <div class="container-fluid"*ngIf="visibleDivs.includes('div11')" id="div11" style="background-color: #f6f3ef; color: #806e4b;">
<div class=" text-center p-5  container-fluid">
    <img class="p-4 img-fluid" src="../../assets/img/Dba_logo_final (1).png" alt="">
</div>
<div class="row container p-5 w-100 mx-auto" >
    <div class="col">
        <b>KLINIK DARE TO CARE</b>
        <li>Slagelsegade 5</li>
        <li>2100 København Ø</li>
        <li>+45 60818540</li>
        <li style="text-decoration: underline;">hej@klinikdaretocare.dk</li><p></p>
      <li>  <div class="dot">
            <i class="fa-brands fa-instagram"></i></div> &nbsp;
            <div class="dot">
            <i class="fa-brands fa-facebook-f"></i></div>
       </li>
       <li><p></p>
        <img class="w-75" src="../../assets/img/Miljøvenlig+klinik+bæredygtig+økologisk (1).png" alt="">
       </li>
    </div>
    <div class="col">
        <b>ÅBNINGSTIDER</b>
        <li>Klinikken:</li>
        <li>Hverdage fra 9.00 - 20.00</li>
        <li>Weekender fra 10.00 - 17.30</li>
        <p></p>
        <li> Butikken:</li>
        <li>Mandag - torsdag: 11:00 - 18:00 </li>
        <li>Fredag: 11.00 - 17.00</li>
         <li>  Lørdag & søndag: lukket</li>
    </div>
    <div class="col">
        <li style="text-decoration: underline;">
        GODT AT VIDE</li>
        <li style="text-decoration: underline;">
AFBUDSPOLITIK</li>
<li style="text-decoration: underline;">
INFO OM COVID-19</li>
 <li style="text-decoration: underline;">
HANDELSBETINGELSER- RETUR OG REKLEMATIONER</li>
<li style="text-decoration: underline;">
JOB HOS DARE TO CARE</li>
    </div>
    <div class="col">
        <b>NYHEDSBREV</b>
        <p>Tilmed dig vores nyhedsbrev og få 10% på dit første køb i webshoppen, eksklusive nyheder, tilbud,<br> hudplejetips og rådgivning. Rabatten gælder ikke gavekort.</p>
       <p></p> <br>
        <button class="btn " type="submit">sign me up</button>
    </div>
</div>
</div> -->

<div class="container-fluid p-2" style="background-color: #00918e;color: #fff; text-align: center;">
    <div class="container row ">

    <div class=" ms-5 col">
    <i class="far fa-envelope col" style="color:#fff;font-size:40px;display:inline-block;margin: 0 19px 0 0;"></i>
    <h2 style="font-size:18px;line-height:25px;color:#fff;margin:0 !important; display: inline-block;">NYHEDSBREV</h2>
    <p class="me-4" style="font-weight:normal;font-size:14px;line-height:16px;margin:0;color:#fff;">* Du modtager 3-4 nyhedsbreve om året</p>
  </div>
  <div class="col">

    <input type="email" class="rounded-input w-75 mt-2 border-0 bg-white " placeholder="Din mail addresse">

  </div>
  </div>


  </div>
  <div class="container-fluid" style="background-color: #f8f8f8 !important;" >
  <div class="container" >
    <div class="row p-5">
      <div class="col" >
        <img src="../../assets/img/leisner-footer-logo.png" alt="">
        <p class="t2">I 1973 startede Astrid Leisner
           med at udvikle og producere et </p>
           <p> alarmapparat til
           af ufrivillig nattetisseri hos børn
           (enuresis nocturna).</p>
      </div>
      <div class="col">
        <ul class="links">
        <strong>Handelsbetingelser</strong>

          <li class="t3">Betaling</li>
          <li class="t3">Fragt og levering</li>
          <li class="t3">Afbestilling og fortrydelsesret</li>
          <li class="t3">Info &amp; Kontakt</li>
          <li class="t3">Returnering RMA</li>
          <li class="t3">Standardfortrydelses formular</li>
          <strong>Handelsbetingelser</strong>
        </ul>
      </div>
      <div class="col">

                <ul class="links">
                  <strong><span>Relevante links</span></strong>
                  <li  class="t3">Se indkøbskurv</li>
                  <li  class="t3">Reklamation</li>
                  <li  class="t3"> Fortrolighedspolitik</li>
                  <li  class="t3">HMI liste</li>
                  <li  class="t3">Cookie og privatpolitik</li>
                </ul>
      </div>
      <div class="col">
        <ul class="links contacts-links">
          <strong>Kontakt | Leisner ApS</strong>
          <li  class="t3">Korsvangcentret | 5610 Assens</li>
          <li  class="t3">Tlf.: +45 63713050</li>
          <li  class="t3">Fax: +45 63713051</li>
          <li  class="t3">E-mail: info@leisner.dk</li>
          </ul>
          <img class="img-fluid" src="https://leisner.dk/media/wysiwyg/payment-list_2.png" alt="payment list">
      </div>
    </div>
    <hr>
  </div>
  <div class="text-center p-1">
    <address style="font-size: 12px;">© Astrid Leisner &amp; Søn</address>
  </div>
  </div>
