<form autocomplete="off" #productForm="ngForm" (ngSubmit)="save()">

    <abp-modal-header [title]="'CreateProduct' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group d-flex flex-column required">
                    <label class="col-form-label" for="name">
                    {{ "Name" | localize }}
                  </label>
                    <div>
                        <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="model.name" #nameModel="ngModel" #nameKindEl />
                        <abp-validation-summary [control]="nameModel" [controlEl]="nameKindEl"></abp-validation-summary>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group d-flex flex-column required">
                    <label class="col-form-label" for="productGroup">
                    {{ "ProductGroup" | localize }}
                  </label>
                    <div>
                        <select class="form-control" name="productGroup" id="productGroup" required [(ngModel)]="model.productGroupNumber" #productGroupModel="ngModel" #productGroupEl>
                        <option *ngFor="let productGroup of productGroups" [value]="productGroup.id">
                            {{ productGroup.name }}
                        </option>
                        </select>
                        <abp-validation-summary [control]="productGroupModel" [controlEl]="productGroupEl"></abp-validation-summary>

                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="form-group d-flex flex-column required">
                    <label class="col-form-label" for="salesPrice">
                        {{ "SalesPrice" | localize }}
                    </label>
                    <div>
                        <input type="number" class="form-control" name="salesPrice" id="salesPrice" required [(ngModel)]="model.salesPrice" #salesPriceModel="ngModel" #salesPriceEl />
                        <abp-validation-summary [control]="salesPriceModel" [controlEl]="salesPriceEl"></abp-validation-summary>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="form-group d-flex flex-column required">
                    <label class="col-form-label" for="costPrice">
                        {{ "CostPrice" | localize }}
                    </label>
                    <div>
                        <input type="number" class="form-control" name="costPrice" id="costPrice" required [(ngModel)]="model.costPrice" #costPriceModel="ngModel" #costPriceEl />
                        <abp-validation-summary [control]="costPriceModel" [controlEl]="costPriceEl"></abp-validation-summary>

                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <!-- mode.description -->
                <div class="form-group d-flex flex-column required">
                    <label class="col-form-label" for="description">
                        {{ "Description" | localize }}
                    </label>
                    <div>
                        <input type="text" class="form-control" name="description" id="description" required [(ngModel)]="model.description" #descriptionModel="ngModel" #descriptionEl />
                        <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl"></abp-validation-summary>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group d-flex flex-column required">
                    <label class="col-form-label" for="location">
                        {{ "Location" | localize }}
                    </label>
                    <div>
                        <input type="text" class="form-control" name="location" id="location" required [(ngModel)]="model.location" #locationModel="ngModel" #locationEl />
                        <abp-validation-summary [control]="locationModel" [controlEl]="locationEl"></abp-validation-summary>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group d-flex flex-column row required">
                    <label class="col-md-3 col-form-label" for="companyLogo">
                      {{ "Add Image" | localize }}
                    </label>
                    <app-upload-photo (onFileUpload)='onFileUploadHandler($event)'></app-upload-photo>
                    <div class="text-danger" *ngIf="isPhotoUploaded===false">
                        {{'kindly upload photo' | localize}}
                    </div>
                </div>
            </div>



        </div>
    </div>
    <app-custom-fields *ngIf="isCustomFieldsAvailable" [disabled]="false" [customFields]="model.customFields"></app-custom-fields>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!productForm.form.valid || saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>