<form class="form-horizontal" autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'Details Customer' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Customer' | localize" class="pt-3 px-2">
        <div class="row">
          <div class="col-md-6">

            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="name">
                {{ "Name" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" required maxlength="32"
                  [(ngModel)]="customer.name" #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="surname">
                {{ "Surname" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="surname" id="surname" required maxlength="32"
                  [(ngModel)]="customer.surname" #surnameModel="ngModel" #surnameEl />
                <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="userName">
                {{ "UserName" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="userName" id="userName" required minlength="2"
                  maxlength="32" [(ngModel)]="customer.userName" #userNameModel="ngModel" #userNameEl />
                <abp-validation-summary [control]="userNameModel" [controlEl]="userNameEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="usetType">
                {{ "UserType" | localize }}
              </label>
              <div class="col-md-9">
                <select type="text" class="form-control" name="userType" id="usetType" required disabled
                  [(ngModel)]="customer.userTypeId" #userTypeModel="ngModel" #userTypeEl>
                  <option *ngFor="let userType of userTypes" [value]="userType.id">
                    {{ userType.name }}
                  </option>
                </select>
                <abp-validation-summary [control]="userTypeModel" [controlEl]="userTypeEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="responsibleEmployee">
                {{ "Responsible Employee" | localize }}
              </label>
              <div class="col-md-9">
                <select type="text" class="form-control" name="responsibleEmployee" id="responsibleEmployee" required 
                  [(ngModel)]="customer.responsibleEmployeeId" #responsibleEmployeeModel="ngModel" #responsibleEmployeeEl>
                  <option *ngFor="let employee of employees" [value]="employee.id">
                    {{ employee.name }}
                  </option>
                </select>
                <abp-validation-summary [control]="responsibleEmployeeModel" [controlEl]="responsibleEmployeeEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="password">
                {{ "Password" | localize }}
              </label>
              <div class="col-md-9">
                <input type="password" class="form-control" name="password" id="password" required maxlength="32"
                  validateEqual="confirmPassword" reverse="true"
                  pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"
                  [(ngModel)]="customer.password" #passwordModel="ngModel" #passwordEl />
                <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl"
                  [customValidationErrors]="passwordValidationErrors"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="confirmPassword">
                {{ "ConfirmPassword" | localize }}
              </label>
              <div class="col-md-9">
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required
                  maxlength="32" validateEqual="password" reverse="false" ngModel #confirmPasswordModel="ngModel"
                  #confirmPasswordEl />
                <abp-validation-summary [control]="confirmPasswordModel" [controlEl]="confirmPasswordEl"
                  [customValidationErrors]="confirmPasswordValidationErrors"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="emailAddress">
                {{ "EmailAddress" | localize }}
              </label>
              <div class="col-md-9">
                <input type="email" class="form-control" name="emailAddress" id="emailAddress" required maxlength="256"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" [(ngModel)]="customer.emailAddress"
                  #emailAddressModel="ngModel" #emailAddressEl />
                <abp-validation-summary [control]="emailAddressModel" [controlEl]="emailAddressEl">
                </abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="currency">
                {{ "Country" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="country" id="country" required minlength="2"
                  maxlength="32" [(ngModel)]="customer.country" #countryModel="ngModel" #countryEl />
                <abp-validation-summary [control]="countryModel" [controlEl]="countryEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row mb-0">
              <label class="col-md-3 col-form-label">
                {{ "IsActive" | localize }}
              </label>
              <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="isActive" id="isActive"
                    [(ngModel)]="customer.isActive" />
                  <label class="custom-control-label mt-2" for="isActive"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="customerNum">
                {{ "CustomerNo" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="customerNum" id="customerNum" required disabled maxlength="32"
                  [(ngModel)]="customer.customerNo" #customerNoModel="ngModel" #customerNoEl />
                <abp-validation-summary [control]="customerNoModel" [controlEl]="customerNoEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="address">
                {{ "Address" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="address" id="address" required maxlength="250"
                  [(ngModel)]="customer.address" #addressModel="ngModel" #addressEl />
                <abp-validation-summary [control]="addressModel" [controlEl]="addressEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="postcode">
                {{ "PostCode" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="postcode" id="postcode" required minlength="2"
                  maxlength="32" [(ngModel)]="customer.postcode" #postCodeModel="ngModel" #postCodeEl />
                <abp-validation-summary [control]="postCodeModel" [controlEl]="postCodeEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="townCity">
                {{ "Town/City" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="townCity" id="townCity" required minlength="2"
                  maxlength="32" [(ngModel)]="customer.townCity" #townCityModel="ngModel" #townCityEl />
                <abp-validation-summary [control]="townCityModel" [controlEl]="townCityEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="telephoneFax">
                {{ "Telephone" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="telephoneFax" id="telephoneFax" required minlength="2"
                  maxlength="32" [(ngModel)]="customer.telephoneFax" #telephoneFaxModel="ngModel" #telephoneFaxEl />
                <abp-validation-summary [control]="telephoneFaxModel" [controlEl]="telephoneFaxEl"></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="website">
                {{ "Website" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="website" id="website" required minlength="2"
                  maxlength="150" [(ngModel)]="customer.website" #websiteModel="ngModel" #websiteEl />
                <abp-validation-summary [control]="websiteModel" [controlEl]="websiteEl"></abp-validation-summary>
              </div>
            </div>

            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="currency">
                {{ "Currency" | localize }}
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="currency" id="currency" required minlength="2"
                  maxlength="32" [(ngModel)]="customer.currency" #currencyModel="ngModel" #currencyEl />
                <abp-validation-summary [control]="currencyModel" [controlEl]="currencyEl"></abp-validation-summary>
              </div>
            </div>
          </div>
        </div>
        <app-custom-fields *ngIf="isCustomFieldsAvailable" [customFields]="customer.customFields"></app-custom-fields>
      </tab>
    
      <tab [heading]="'Customer Roles' | localize" class="pt-3 px-2">
        <div class="form-group row mb-0">
          <ng-container *ngFor="let role of roles; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [id]="'role_' + i"
                  [checked]="isRoleChecked(role.normalizedName)" (change)="onRoleChange(role, $event)" />
                <label class="custom-control-label" [for]="'role_' + i">
                  {{ role.name }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createUserModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>