<section>
    <div class="" style="background-color:#9fa38f !important;height: 10vh !important;">
        <app-main-header></app-main-header>
        <!-- s1 -->
    </div>
</section>
<hr>

<!-- --- Home Section --- -->
<!-- <div class="hero_section">
    <div class="navbar">
        <h3 class="logo"></h3>
        <div class="nav_links">
             <a href="">HOME</a>
            <a href="#about">ABOUT</a>
            <a href="#">SERVICES</a>
            <a href="#">PAGES</a>
            <a href="#">BLOG</a>
            <a href="#">CONTACT</a>
        </div> -->
<!-- <div class="mobile_icons">
            <img src="../../assets/img/bars.svg" class="mobile_btn" id="open">
            <img src="../../assets/img/times.svg" class="mobile_btn" id="close">
        </div>
    </div>
    <div class="home_container">
        <div class="home_left">
            <img src="../../assets/img/hero.jpg">
        </div>
        <div class="home_right">
            <h5>This is Me</h5>
            <h1>Aamir Hussain</h1>
            <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat repudiandae
                voluptatibus beatae eius ducimus, ipsum, velit dignissimos recusandae corporis corrupti impedit
                tempore id nisi animi.</p>
            <a href="#" class="hero_btn">Discover Now</a>
        </div>
    </div>
</div> -->

<!-- --- About Section --- -->
<!-- <div class="about_section" id="about">
    <div class="about">
        <h2 class="heading">About Myself</h2>
        <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam dolorem culpa eveniet
            explicabo nam. Natus minus corporis molestias quod nam aspernatur architecto ab optio ipsa quam
            porro eius nisi qui incidunt, non libero odio nesciunt!</p>
        <div class="about_details">
            <div class="card" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300">
                <i class="uil uil-usd-circle"></i>
                <h3>$2.5M</h3>
                <p>Total Donation</p>
            </div>
            <div class="card" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300">
                <i class="uil uil-chart"></i>
                <h3>500+</h3>
                <p>Total Projects</p>
            </div>
            <div class="card" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300">
                <i class="uil uil-user"></i>
                <h3>50+</h3>
                <p>Team Members</p>
            </div>
        </div>
    </div>
    <div class="tools" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300">
        <h3 class="heading">Tools Experience</h3>
        <div class="experience_bar">
            <div class="progress_bar">
                <p class="title">After Effect 85%</p>
                <span class="bar After">
                    <span class="percentage"></span>
                </span>
            </div>
            <div class="progress_bar">
                <p class="title">Photoshop 80%</p>
                <span class="bar Photoshop">
                    <span class="percentage"></span>
                </span>
            </div>
            <div class="progress_bar">
                <p class="title">Illustrator 70%</p>
                <span class="bar Illustrator">
                    <span class="percentage"></span>
                </span>
            </div>
            <div class="progress_bar">
                <p class="title">Sublime 65%</p>
                <span class="bar Sublime">
                    <span class="percentage"></span>
                </span>
            </div>
            <div class="progress_bar">
                <p class="title">Sketch 70%</p>
                <span class="bar Sketch">
                    <span class="percentage"></span>
                </span>
            </div>
        </div>
    </div>
</div> -->

<!-- --- Service Section --- -->
<div class="service_section">
    <h2 class="service_heading">Our Services</h2>
    <div class="service_container">
        <div class="service_card">
            <i class="uil uil-create-dashboard"></i>
            <h4 class="card_heading">Web Development</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur quae.</p>
        </div>
        <div class="service_card">
            <i class="uil uil-images"></i>
            <h4 class="card_heading">Graphic Design</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur quae.</p>
        </div>
        <div class="service_card">
            <i class="uil uil-android"></i>
            <h4 class="card_heading">App Development</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur.</p>
        </div>
        <div class="service_card">
            <i class="uil uil-pen"></i>
            <h4 class="card_heading">Content Writing</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. earum illum quae.</p>
        </div>
        <div class="service_card">
            <i class="uil uil-file-plus-alt"></i>
            <h4 class="card_heading">Consultations</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur quae.</p>
        </div>
        <div class="service_card">
            <i class="uil uil-palette"></i>
            <h4 class="card_heading">Web Design</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur quae.</p>
        </div>
    </div>
</div>

<!-- --- Gallery Section --- -->
<div class="gallery_section">
    <h2 class="heading">Our Recent Completed Projects</h2>
    <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elia.</p>
    <div class="gallery_container">
        <div class="gallery_card" data-aos="zoom-in" data-aos-delay="700" data-aos-offset="200">
            <img (click)="showChildModal('../../assets/img/1.jpg')" src="../../assets/img/1.jpg" alt="">
            <h4>3D HELMET DESIGN</h4>
            <P>Clients Choice</P>
        </div>
        <div class="gallery_card" data-aos="zoom-in" data-aos-delay="700">
            <img (click)="showChildModal('../../assets/img/2.jpg')" src="../../assets/img/2.jpg" alt="">
            <h4>3D HELMET DESIGN</h4>
            <P>Clients Choice</P>
        </div>
        <div class="gallery_card" data-aos="zoom-in" data-aos-delay="700">
            <img (click)="showChildModal('../../assets/img/3.jpg')" src="../../assets/img/3.jpg" alt="">
            <h4>3D HELMET DESIGN</h4>
            <P>Clients Choice</P>
        </div>
        <div class="gallery_card" data-aos="zoom-in" data-aos-delay="700">
            <img src="../../assets/img/4.jpg" alt="" (click)="showChildModal('../../assets/img/4.jpg')">
            <h4>3D HELMET DESIGN</h4>
            <P>Clients Choice</P>
        </div>
        <div class="gallery_card" data-aos="zoom-in" data-aos-delay="700">
            <img src="../../assets/img/5.jpg" alt="" (click)="showChildModal('../../assets/img/5.jpg')">
            <h4>3D HELMET DESIGN</h4>
            <P>Clients Choice</P>
        </div>
        <div class="gallery_card" data-aos="zoom-in" data-aos-delay="700">
            <img src="../../assets/img/6.jpg" alt="" (click)="showChildModal('../../assets/img/6.jpg')">
            <h4>3D HELMET DESIGN</h4>
            <P>Clients Choice</P>
        </div>
        <div class="gallery_card" data-aos="zoom-in" data-aos-delay="700" >
            <img src="../../assets/img/7.jpg" alt="" (click)="showChildModal('../../assets/img/7.jpg')">
            <h4>3D HELMET DESIGN</h4>
            <P>Clients Choice</P>
        </div>
        <div class="gallery_card" data-aos="zoom-in" data-aos-delay="700" >
            <img src="../../assets/img/8.jpg" alt="" (click)="showChildModal('../../assets/img/8.jpg')">
            <h4>3D HELMET DESIGN</h4>
            <P>Clients Choice</P>
        </div>
    </div>
    <!--Large modal-->
    <p> </p>
    <!-- <button class="btn btn-primary" (click)="lgModal.show()">Large modal</button> -->





</div>

<!-- --- Testimonials Section --- -->
<div class="testi_section">
    <h2 class="heading">Testimonials</h2>
    <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, maxime nobis.</p>
    <div class="testi_container">

        <div class="testi_card">
            <img src="../../assets/img/quote.png" class="quote">
            <p>"What do you need to start a business? Three simple things know your product as better to me, and
                have a burning desire to succeed."</p>
            <div class="test_person">
                <img src="../../assets/img/a.png" width="50px">
                <div class="name_desig">
                    <h4>David Smith</h4>
                    <p>Full Stack Developer</p>
                </div>
            </div>
        </div>
        <div class="testi_card">
            <img src="../../assets/img/quote.png" class="quote">
            <p>"What do you need to start a business? Three simple things know your product as better to me, and
                have a burning desire to succeed."</p>
            <div class="test_person">
                <img src="../../assets/img/b.png" width="50px">
                <div class="name_desig">
                    <h4>David Smith</h4>
                    <p>Full Stack Developer</p>
                </div>
            </div>
        </div>
        <div class="testi_card">
            <img src="../../assets/img/quote.png" class="quote">
            <p>"What do you need to start a business? Three simple things know your product as better to me, and
                have a burning desire to succeed."</p>
            <div class="test_person">
                <img src="../../assets/img/c.png" width="50px">
                <div class="name_desig">
                    <h4>David Smith</h4>
                    <p>Full Stack Developer</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --- Footer Section --- -->
<!-- <div class="footer_section">
    <div class="footer_about">
        <h4>About Me</h4> 
        <p class="para1">Do you want to even more successful ? Love to learn learning and growth. The more
            effort you need to put into improving your skills.</p>
        <p class="para2">Copyright @2023 All rights reserved | 
    </div>
    <div class="footer_newsletter">
        <h4>News Letter</h4>
        <p>Stay updated with our latest Trends</p>
        <div class="newsletter">
            <input type="email" placeholder="enter email address">
            <div class="submit">
                <i class="uil uil-arrow-right"></i>
            </div>
        </div>
    </div>
    <div class="footer_social_links">
        <h4>Social Links</h4>
        <p>Let's be social</p>
        <div class="social_links">
            <i class="uil uil-instagram"></i>
            <i class="uil uil-twitter-alt"></i>
            <i class="uil uil-github-alt"></i>
            <i class="uil uil-skype-alt"></i>
        </div>
    </div>
</div> -->

<!-- --- Scroll to Top Button --- -->
<div class="scroll_toTop">
    <i class="uil uil-arrow-up"></i>
</div>
<app-main-footer></app-main-footer>



<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 id="dialog-sizes-name1" class="modal-title pull-left"></h4> -->
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body position-absolute top-0 start-50 translate-middle-x" >
                <!-- <h1> testing </h1> -->
                <div class=" "><img [src]="popSrc" class="img-fluid" alt=""></div>

            </div>
        </div>
    </div>
</div>