<form class="form-horizontal" autocomplete="off" #editTenantForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'EditTenant' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="tenancyName">
        {{ "TenancyName" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="tenancyName" id="tenancyName" minlength="2" maxlength="64"
          required [(ngModel)]="tenant.tenancyName" #tenancyNameModel="ngModel" #tenancyNameEl />
        <abp-validation-summary [control]="tenancyNameModel" [controlEl]="tenancyNameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" maxlength="128" required [(ngModel)]="tenant.name"
          #nameModel="ngModel" #nameEl />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="companyName">
        {{ "Company Name" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="companyName" id="companyName" maxlength="256" required
          [(ngModel)]="tenant.companyName" #companyNameModel="ngModel" #companyNameEl />
        <abp-validation-summary [control]="companyNameModel" [controlEl]="companyNameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="companyLogo">
        {{ "Company Logo" | localize }}
      </label>
      <app-upload-photo *ngIf="isDataLoaded" (onFileUpload)='onFileUploadHandler($event)' [imageUrl]='logoUrl'>
      </app-upload-photo>
      <div class="text-danger" *ngIf="isPhotoUploaded===false">
        {{'kindly upload photo' | localize}}
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="primaryColor">
        {{ "Primary Color" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="primaryColor" id="primaryColor" maxlength="256" required
          [(ngModel)]="tenant.primaryColor" #primaryColorModel="ngModel" #primaryColorEl />
        <abp-validation-summary [control]="primaryColorModel" [controlEl]="primaryColorEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="secondaryColor">
        {{ "Secondary Color" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="secondaryColor" id="secondaryColor" maxlength="256" required
          [(ngModel)]="tenant.secondaryColor" #secondaryColorModel="ngModel" #secondaryColorEl />
        <abp-validation-summary [control]="secondaryColorModel" [controlEl]="secondaryColorEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="syncApiId">
        {{ "Sync API" | localize }}
      </label>
      <div class="col-md-9">
        <select class="form-control" name="syncApiId" id="syncApiId" maxlength="256" required
          [(ngModel)]="tenant.syncApiId" #syncApiIdModel="ngModel" #syncApiIdEl>
          <option *ngFor="let opt of syncAPIOptions" [value]="opt.id">{{opt.Name}}</option>
        </select>
        <abp-validation-summary [control]="syncApiIdModel" [controlEl]="syncApiIdEl"></abp-validation-summary>
      </div>
    </div>
    <ng-container *ngIf="tenant.syncApiId == 1">
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="economicAgreementGrantToken">
          {{ "Economic Agreement Grant Token" | localize }}
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="economicAgreementGrantToken" id="economicAgreementGrantToken"
            maxlength="256" required [(ngModel)]="tenant.economicAgreementGrantToken"
            #economicAgreementGrantTokenModel="ngModel" #economicAgreementGrantTokenEl />
          <abp-validation-summary [control]="economicAgreementGrantTokenModel"
            [controlEl]="economicAgreementGrantTokenEl"></abp-validation-summary>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="economicAppSecretToken">
          {{ "Economic App Secret Token" | localize }}
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="economicAppSecretToken" id="economicAppSecretToken"
            maxlength="256" required [(ngModel)]="tenant.economicAppSecretToken" #economicAppSecretTokenModel="ngModel"
            #economicAppSecretTokenEl />
          <abp-validation-summary [control]="economicAppSecretTokenModel" [controlEl]="economicAppSecretTokenEl">
          </abp-validation-summary>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="tenant.syncApiId == 2">

      <!-- <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="billyAgreementGrantToken">
          {{ "Billy Agreement Grant Token" | localize }}
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="billyAgreementGrantToken" id="billyAgreementGrantToken"
            maxlength="256" required [(ngModel)]="tenant.billyAgreementGrantToken"
            #billyAgreementGrantTokenModel="ngModel" #billyAgreementGrantTokenEl />
          <abp-validation-summary [control]="billyAgreementGrantTokenModel" [controlEl]="billyAgreementGrantTokenEl">
          </abp-validation-summary>
        </div>
      </div> -->
      <!-- <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="billyAppSecretToken">
          {{ "Billy App Secret Token" | localize }}
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="billyAppSecretToken" id="billyAppSecretToken" maxlength="256"
            required [(ngModel)]="tenant.billyAppSecretToken" #billyAppSecretTokenModel="ngModel"
            #billyAppSecretTokenEl />
          <abp-validation-summary [control]="billyAppSecretTokenModel" [controlEl]="billyAppSecretTokenEl">
          </abp-validation-summary>
        </div>
      </div> -->
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="billyAccessToken">
          {{ "Billy Access Token" | localize }}
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="billyAccessToken" id="billyAccessToken" maxlength="256" required
            [(ngModel)]="tenant.billyAccessToken" #billyAccessTokenModel="ngModel" #billyAccessTokenEl />
          <abp-validation-summary [control]="billyAccessTokenModel" [controlEl]="billyAccessTokenEl">
          </abp-validation-summary>
        </div>
      </div>
    </ng-container>

      <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
           

            <div class="row">
              <div class="col-6">
                  <h4>{{ "CustomFields" | localize }}</h4>
              </div>
               <div class="col-6 text-right">
                <a href="javascript:;" class="btn bg-blue" (click)="onAddField()">
                  <i class="fa fa-plus-square"></i>
                  {{ "CustomFields" | localize }}
              </a>
               </div>
          </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead class="bg-light">
                <tr>
                  <th>Screen</th>
                  <th class="w-25">Type</th>
                  <th class="w-25">Label</th>
                  <th class="w-25">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let field of tenant.customFields; let i=index;">
                  <td>
                    <select type="text" class="form-control" name="{{'screen'+i}}"  required 
                      [(ngModel)]="field.screen" #screenModel="ngModel" #screenEl>
                      <option *ngFor="let screen of screens" [value]="screen.value">
                        {{ screen.name }}
                      </option>
                    </select>
                    <abp-validation-summary [control]="screenModel" [controlEl]="screenEl"></abp-validation-summary>
                  </td>
                  <td>
                    <select type="text" class="form-control" name="{{'type'+i}}"  required 
                      [(ngModel)]="field.type" #typeModel="ngModel" #typeEl>
                      <option *ngFor="let type of fieldTypes" [value]="type.value">
                        {{ type.name }}
                      </option>
                    </select>
                    <abp-validation-summary [control]="typeModel" [controlEl]="typeEl"></abp-validation-summary>
                  </td>
                  <td>
                    <input type="text" class="form-control" name="{{'label'+i}}" placeholder="Label"
                    maxlength="256" required [(ngModel)]="field.label" #labelModel="ngModel"
                    #labelEl />
                  <abp-validation-summary [control]="labelModel" [controlEl]="labelEl">
                  </abp-validation-summary>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger" (click)="onRemoveField(i)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="isActive" id="isActive"
            [(ngModel)]="tenant.isActive" />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editTenantForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>