.bg1{
    background-color: #01928f !important;
    color: #fff !important;
    text-align: end;
    font-size: smaller;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
li{
    list-style: none;
    display: inline;
    margin: 8px;
}
a{
    color: #fff !important; 
    text-decoration: none !important;
}
.navbar{
    color: #01928f !important;
    background-color: #fff !important;
    font-size: medium;
}
.nav-link{
    color: #01928f !important;
}
.dot {
 /* float: left !important; */
  
    height: 55px;
    width: 65px;
    background-color: #f28327;
    color: #fff;
    border-radius: 50%;
    font-size: 32px;
    display: inline-block;
       text-align: center;
  }
  .dot:hover{
background-color: #01928f;
 color: #fff; 

}
.mycard{
   
    width: 15% !important;
    max-width: 170px;
    height: auto;
    /* height: 16%  !important; */
     border: 2px solid #ccc  !important; 
    margin: 5px !important;
    display: flex !important;
  flex-wrap: wrap !important;
    flex-direction: column !important;
   border-radius: 5px;
   
  background-color: #ccc !important;
  color: #fff !important;
}
/* Default styles for all screen sizes */
.card {
  width: 16.666%;
  height: auto;
}

/* Styles for screens up to 480px wide */
@media screen and (max-width: 480px) {
  .mycard {
    width: 100%;
    height: auto;
  }
}

/* Styles for screens between 481px and 768px wide */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .mycard {
    width: 25%;
    height: auto;
  }
}

/* Styles for screens between 769px and 1024px wide */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .mycard {
    width: 20%;
    height: auto;
  }
}

/* Styles for screens wider than 1024px */
@media screen and (min-width: 1025px) {
  .mycard {
    width: 15.555%;
    height: auto;
  }
}

.mycard:hover{
   color: #fff !important;
    background-color: #01928f !important;
    border: 3px solid #01928f  !important; 
}
.text1
{
  
display: inline-block;
    font-weight: 600;
    font-size: medium;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 22px;
    color: #f28327;
    padding: 0 10px;
    border-right: 2px solid #f28327;

}
.text1:hover{
  text-decoration: underline;
  
}
.li{
    display: block;
    text-decoration: underline;
}
 
  .colbg{
background-image: url(img/banner-home-page-left.png);
 background-size: cover; background-position: center;
 font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
font-style: normal;
font-weight: 600 !important;

font-size: 22px !important ;
color: #00918e;	
text-align: center !important;
  }
  
  .bg{
    background-image: url(img/modern-technology-block.png);
 
 height: 70vh;
background-size: cover !important;
text-align: center;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  }
  .rounded-input {
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
}
.rounded-input:hover{
  border: none;
 
}
.t2{
  font-size: 14px;
    line-height: 19px;
    opacity: 0.6;
    color: grey !important;
}
.t3{
  list-style: none;
  display: block;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.6;
  color: black !important;
 
}