
<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <h1>{{ "Groups" | localize }}</h1>
            </div>
            <div class="col-6 text-right" *ngIf="isAdminUser()">
              <a href="javascript:;" class="btn bg-blue" (click)="showCreateOrEditGroupDialog()">
                <i class="fa fa-plus-square"></i>
                {{ "Create" | localize }}
              </a>
            </div>
          </div>
        </div>
      </section>
    



 <section class="content px-2">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                  <div class="col-md-6">&emsp;</div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <!-- <div class="input-group-prepend">
                        <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                          <i class="fas fa-search"></i>
                        </button>
                      </div> -->
                      <input type="text" class="form-control" name="keyword" [placeholder]="'SearchWithThreeDot' | localize"
                        [(ngModel)]="keyword" (keyup.enter)="getDataPage(1)"
                        (ngModelChange)="getDataPage(1)"
                        />
                    </div>
                  </div>
                </div>
               
              </div>

              <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" [busy]="isTableLoading">
                        <thead class="bg-light">
                          <tr>
                         
                            <th>{{"Id"| localize}}</th>
                            <th>{{"Name"| localize}}</th>
                          
                            <th style="width: 14rem;">{{ "Actions" | localize }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                          let group of groups
                            | paginate
                              : {
                                  id: 'server',
                                  itemsPerPage: pageSize,
                                  currentPage: pageNumber,
                                  totalItems: totalItems
                                }
                        ">
                          
                            <td>{{ group.id }}</td>
                            <td>{{ group.name }}</td>
                            

                            <td>
                              <a href="javascript:;"  class="btn bg-blue mr-1" (click)="goToInvitedActivities(group.id)">
                                <i class="fa fa-eye"></i>
                                <!-- {{ "Details" | localize }} -->
                              </a>

                              <a href="javascript:;"  class="btn bg-info mr-1"   (click)="detailsGroupDialog(group.id)">
                                <i class="fa fa-users"></i>
                              </a>
          
                              <a href="javascript:;"  class="btn bg-danger mr-1" (click)="delete(group)">
                                <i class="fas fa-trash"></i>
                                <!-- {{ "Delete" | localize }} -->
                              </a>

                              <!-- edit -->
                              <a href="javascript:;"  class="btn bg-secondary mr-1" (click)="editGroup(group.id)">
                                <i class="fa fa-edit"></i>
                                <!-- {{ "Edit" | localize }} -->
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
              <div class="card-footer table-card-footer bg-light border-top">
                <div class="row">
                    <div class="col-sm-4 col-12 text-sm-left text-center">
                        <button class="btn btn-secondary" (click)="refresh()">
                            <i class="fas fa-redo-alt"></i>
                        </button>
                    </div>
                    <div class="col-sm-4 col-12 text-center">
                        <p class="mb-0 my-2">
                            {{ "TotalRecordsCount" | localize: totalItems }}
                        </p>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="float-sm-right m-auto">
                            <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                            </abp-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
</div>