<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "ImportData" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:;" *ngIf="isConnected" class="btn bg-blue mr-2" (click)="startSync()">
            <i class="fa fa-plus-square"></i>
            {{ "Sync" | localize }}
          </a>
          <!-- <a href="javascript:;" class="btn bg-blue mr-2" [ngClass]="{'bg-blue':!isConnected,'bg-yellow':isConnected}"
            (click)="openGrantDialog()">
            <i class="fa fa-plus-square"></i>
            <span *ngIf="!isConnected">
              {{ "Add Grants" | localize }}
            </span>
            <span *ngIf="isConnected">
              {{ "Update Grants" | localize }}
            </span>
          </a> -->
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead class="bg-light">
                <tr>
                  <th>{{ "Id" | localize }}</th>
                  <th>{{ "StartedTime" | localize }}</th>
                  <th>{{ "Status" | localize }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let history of SyncHistory">
                  <td>{{ history.id }}</td>
                  <td>{{ history.creationTime|date:"medium" }}</td>
                  <td>
                    <span *ngIf="!history.isFailed && history.isInProcess">
                      <i class="fa fa-spinner fa-spin"></i>
                    </span>
                    <span *ngIf="history.isFailed">
                      <i class="fa fa-times"></i>
                    </span>
                    <span *ngIf="!history.isFailed && !history.isInProcess">
                      <i class="fa fa-check"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>