<!-- <div *ngIf="isMultiTenancyEnabled" class="text-center tenant-change-component" style="background-color: black"> -->
    <!-- <h1 style="color: black">
        Men's Room
    </h1> -->
    <!-- <a href="https://www.mensroom.dk/index.php">
      <img src="https://www.mensroom.dk/ufiles/skins/mensroom2020/images/mensroom_logo_fritlagt_sm.png" alt="Skønhedsklinik &amp; hudpleje til mænd i København - Mensroom" style="max-width:50px;"></a> -->
    <!-- <span>
    {{ "CurrentTenant" | localize }}:
    <span *ngIf="tenancyName" title="{{ name }}">
      <strong>{{ tenancyName }}</strong>
    </span>
    <span *ngIf="!tenancyName">{{ "NotSelected" | localize }}</span> (
    <a href="javascript:;" (click)="showChangeModal()">
      {{ "Change" | localize }} </a
    >)
  </span> -->
<!-- </div> -->
